## RAM configuration:
quartz.jobStore.type = Quartz.Simpl.RAMJobStore, Quartz
quartz.serializer.type = json

## Database configuration:
#quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
#quartz.serializer.type = json
#quartz.jobStore.useProperties = false
#quartz.jobStore.dataSource = default
#quartz.jobStore.tablePrefix = QRTZ_
#quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
#quartz.dataSource.default.provider = SqlServer-41
#quartz.dataSource.default.connectionString = Server=(localdb)\MSSQLLocalDB;Database=Quartz;Integrated Security=true


# Configure Quartz to read job configurations from xml file:
# (Starting with 3.0.0-beta1 all plugins are located in separate package - Quartz.Plugins)
quartz.plugin.jobInitializer.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
quartz.plugin.jobInitializer.fileNames = quartz_jobs.xml
quartz.plugin.jobInitializer.failOnFileNotFound = true
# Read job settings from file every 120 seconds
quartz.plugin.jobInitializer.scanInterval = 120